Package: com.watchtower.siriisavaliable
Name: SiriIsAvaliable
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Make Siri choose her way to connect! "Siri not avaliable" is no more!
Maintainer: WendigoTV
Author: WendigoTV
Section: Tweaks
Installed-Size: 121
Version: 1.0-2+debug-2+debug
